.form {
  display: flex;
  padding: 40px 0;
  flex-wrap: wrap;
  font-family: Raleway;
}


.form div label {
  margin-bottom: 4px;
}

.errors {
  font-family: Raleway;
}

.form div select,
.form div input {
  font-family: Raleway;
}

.formItem {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 5px 10px;
  width: 50%;
}
